node_modules
.next
.git
.gitignore
.env
.env.local
.env.development
.env.production
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode
.idea
*.log
coverage
README.md
README_DEPLOY.md
.dockerignore
Dockerfile
.eslintcache
src/generated
dist-scripts
.data
data
.ged-azserver
apps-devices
tessdata
